@model IEnumerable<FNLPRJ.VisualStudio.PodcastWebApp.Models.Episode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.episodeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soundFileLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picFileLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.episodeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soundFileLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.picFileLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.episodeNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.episodeNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.episodeNumber })
        </td>
    </tr>
}

</table>
